.drop::before {
  display: none !important;
}
.drop::after {
  display: none !important;
}

.body {
  margin-right: 10%;
  margin-left: 10%;
}

.footer-spacing {
  min-height: 40vh !important;
}

.nav-link {
  color: black !important;
}

@media all {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    margin-top: -0.25rem !important;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-nav {
    padding-left: 15px !important;
  }
}

.bi {
  margin-right: 5px;
  margin-left: 5px;
}

.create {
  background-color: white;
}

.signin {
  background-color: #dcdcdd;
}

.form-length {
  height: 460px;
  background-color: white;
}

.vertical-center {
  min-height: 100%;
  min-height: 30vh;
  background-color: #f0efeb;
}

.container {
  padding-top: 10%;
}

.login-block {
  display: none;
}

.footer {
  position: absolute;
  bottom: 0;
}

.page-container {
  position: relative;
  height: 30vh;
}

.product-link:link,
.product-link:visited,
.product-link:active {
  text-decoration: none;
  color: black;
}

.product-name {
  font-size: calc(1rem + 1vw) !important;
}

.product-price {
  font-size: calc(0.9rem + 0.9vw) !important;
}

.product-color-text,
.product-material {
  font-size: calc(0.7rem + 0.7vw) !important;
}

.product-color {
  height: calc(0.7rem + 0.7vw);
  width: calc(0.7rem + 0.7vw);
  display: inline-block;
}

.product-select {
  margin-left: 0rem;
}

option,
select {
  font-size: calc(0.75rem + 0.75vw);
}

.length-holder {
  display: none;
}

.fs {
  font-size: calc(1.1rem + 1vw) !important;
}

.fs-2 {
  font-size: calc(0.8rem + 0.9vw) !important;
}

.register-text {
  font-size: calc(0.7rem + 0.9vw) !important;
}

.card-img-top {
  height: 85%;
  width: 100%;
  object-fit: contain;
}

.card-text,
.card-title {
  font-size: calc(0.6rem + 0.6vw);
}

input {
  color: black !important;
}

#button-addon1 {
  display: none;
}

.checkout-text {
  font-size: calc(0.8rem + 0.8vw);
}

.line {
  border-width: 1.5px !important;
}

/*add to cart*/
.add-button-anim {
  animation: addedButton 1s ease 1;
}

.nav-item .add-cart-anim {
  animation: addedCart 1.25s ease 1;
}

@keyframes addedButton {
  0% {
    background-color: green;
  }
  99% {
    background-color: green;
  }
  100% {
    fill: currentColor;
  }
}

@keyframes addedCart {
  0% {
    transform: scale(1);
    fill: green;
  }
  50% {
    transform: scale(2.5);
    fill: green;
  }
  99% {
    transform: scale(1);
    fill: green;
  }
  100% {
    fill: currentColor;
  }
}

.check-out-tab {
  height: 50%;
}
