.drop::before {
  display: none !important;
}
.drop::after {
  display: none !important;
}

.body {
  margin-right: 10%;
  margin-left: 10%;
}

@media all {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
}

.bi {
  margin-right: 5px;
  margin-left: 5px;
}

.create {
  background-color: white;
}

.signin {
  background-color: #dcdcdd;
}

.form-length {
  height: 460px;
  background-color: white;
}

.vertical-center {
  min-height: 100%;
  min-height: 30vh;
  background-color: #f0efeb;
}

.container {
  padding-top: 10%;
}

.login-block {
  display: none;
}

.footer {
  position: absolute;
  bottom: 0;
}

.page-container {
  position: relative;
  height: 30vh;
}

.product-link:link, .product-link:visited, .product-link:active {
  text-decoration: none;
  color: black
}

.product-name {
  font-size: 3vw !important;
}

.product-price {
  font-size: 2.5vw !important;
}

.product-color-text,
.product-material {
  font-size: 1vw !important;
}

.product-color {
  height: 2vw;
  width: 2vw;
  display: inline-block;
}

.product-select {
  margin-left: 0rem;
}

.length-holder {
  display: none;
}

.fs {
  font-size: calc(0.8rem + 0.8vw);
}

.fs-2 {
  font-size: calc(0.5rem + 0.8vw);
}

.card-img-top {
  height: 85%;
  width: 100%;
  object-fit: contain;
}

.card-text,
.card-title {
  font-size: calc(0.6rem + 0.6vw);
}

input {
  color: black !important;
}

option,
select {
  font-size: smaller !important;
}

#button-addon1 {
  display: none;
}
